.masthead {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: yellow;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: blanchedalmond;
}
.tesoro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cap{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#submit-btn,#sub {
  width: 10%;
}
#search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.site-container {
  width: 100%;
}
#search-keyword {
  width: 50%;
}